body { background-color : #ccffcc;
font-family : "Georgia" , serif;}

.header, .footer {
    background-color: purple;
    color: white;
    padding: 15px;
}

.column {
    float: left;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 25%;
}

.content {
    width: 75%;
}


h1 div.fixed {
    position: fixed;
    top : 0;
    center: 0;
    width: 300px;
    border: 3px solid #73AD21;
}


a:link, a:visited {
background-color : purple ;
color : white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display : inline-block ; }

a: hover, a: active {
background-color : #cc6699 ;
color : white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display : inline-block ; }

table { width : 100% ; }

th { text-align : center 
background-color : #cc6699 ;}

td { text-align : center ;
verticle-align : center ;}

th, td { border-bottom : 1px solid #ddd ; }

.dropbtn {
    background-color: purple;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: grey;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


